﻿/* The main content */

.main-content {
    font-family: century gothic, Helvetica, sans-serif;
    padding-top: 10px;
    margin: 0 0 -26px 10%;
}
.contenedor {
    max-width: 99% !important;
    /*background-color: gray;*/
}


.gestion-titulo,.edicion-titulo {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2% !important;
}
.filtros {
    height: 50% !important;
    margin-top: 10% !important;
}
/* The left sidebar */
.sidebar-left {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #292c2f;
    width: 120px;
    height: 100%;
    padding: 20px 0;
}

    .sidebar-left a.company-logo {
        display: block;
        text-decoration: none;
        font-family: Cookie, cursive;
        width: 76px;
        height: 76px;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        color: #ffffff;
        font-size: 28px;
        font-weight: normal;
        line-height: 2.6;
        border-radius: 50%;
        background-color: #181a1b;
    }

    .sidebar-left .sidebar-links {
        margin: 20px auto;
    }

        .sidebar-left .sidebar-links a {
            display: block;
            text-decoration: none;
            margin: 0 auto 5px auto;
            padding: 20px 0;
            background-color: #35393e;
            text-align: center;
            color: #b3bcc5;
            font-size: 12px;
            font-weight: bold;
            border-left-width: 2px;
            border-left-style: solid;
        }

            .sidebar-left .sidebar-links a i.fa {
                display: block;
                font-size: 35px;
                margin-bottom: 5px;
            }

            .sidebar-left .sidebar-links a.selected {
                background-color: #ffffff;
                color: #7c8085;
                font-size: 12px;
                font-weight: bold;
                cursor: default;
            }

            /* Link Colors */

            .sidebar-left .sidebar-links a.link-blue {
                border-color: #487db2;
            }

                .sidebar-left .sidebar-links a.link-blue i.fa {
                    color: #487db2;
                }

            .sidebar-left .sidebar-links a.link-red {
                border-color: #da4545;
            }

                .sidebar-left .sidebar-links a.link-red i.fa {
                    color: #da4545;
                }

            .sidebar-left .sidebar-links a.link-yellow {
                border-color: #d0d237;
            }

                .sidebar-left .sidebar-links a.link-yellow i.fa {
                    color: #d0d237;
                }

            .sidebar-left .sidebar-links a.link-green {
                border-color: #86be2e;
            }

                .sidebar-left .sidebar-links a.link-green i.fa {
                    color: #86be2e;
                }

/* Making the sidebar responsive */

@media (max-width: 900px) {

    /*.main-content {
        max-width: none;
        padding: 40px 20px;
        margin: 0 0 40px;
    }*/

    .sidebar-left {
        width: auto;
        height: auto;
        position: inherit;
        padding: 20px 0 0;
    }

        .sidebar-left .sidebar-links {
            text-align: center;
            margin: 20px auto 0;
        }

            .sidebar-left .sidebar-links a {
                display: inline-block;
                width: 100px;
                margin: 0;
                padding: 14px 0;
                border-left: none;
                border-top-width: 2px;
                border-top-style: solid;
            }
}


@media (max-width: 450px) {

    .sidebar-left {
        padding: 20px 0;
    }

        .sidebar-left .sidebar-links {
            text-align: center;
            margin: 20px auto 0;
        }

            .sidebar-left .sidebar-links a {
                max-width: 240px;
                width: auto;
                vertical-align: middle;
                text-align: left;
                margin: 0 auto 5px;
                padding: 10px 25px;
                border-top: none;
                border-left-width: 2px;
                border-left-style: solid;
            }

                .sidebar-left .sidebar-links a i.fa {
                    display: inline-block;
                    font-size: 20px;
                    width: 20px;
                    margin: 0 20px 0 0;
                    vertical-align: middle;
                }
}
body {
    margin: 0;
    padding: 0;
}
option {
    background-color: white !important;
    color: black !important;
}
.tbx {
    display: block !important;
    margin-bottom: .5rem;
    margin-left: 3.3% !important;
    margin-top: .5rem !important;
    color: black;
}
.card-header {
    width: 105.7% !important;
    margin-left: -2.9% !important;
    text-align: center;
}
.card {
    margin-left: 24%;
    margin-top: 4%;
    position: static !important;
}
.Agregar {
    margin-left: 26%;
    margin-top: 5%;
}
.card-filter {
    margin-left: 10% !important;
    margin-right: 10% !important;
    margin-bottom: 5% !important;
    position: static !important;
}
tr th{
    font-size: 90%;
    font-weight: 600;
}
tr td{
    font-size: 70%;
}
.cont-grid {
    margin-left: -1%;
}
.row-filtrar-drop {
    margin-left: -90%;
    margin-top: 4%;
    margin-bottom: -3%;
    padding: 0%;
}
.tbx-filtrar {
    margin-left: -5%;
}
.card-title {
    margin-bottom: 0%;
    margin-top: 0%;
}
.filtrar {
    color: #F93943;
    margin-top: 3% ;
}
.fil-margin {
    margin-left: 71%;
}
.table-wrapper {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.card-cascade {
    width: 190%;
    margin-left: -12%;
}
.dato1 {
    margin-top: -1% !important;
}
.group-drops {
    margin-bottom: 2% !important;
}
.group-drops i {
    margin-left: -3.2% !important;
    font-size: 2.5em !important;
}
.drop {
    margin-left: 4% !important;
}
.fa-map-marker {
    margin-left: 1.3%;
}
.titulo{
    text-align:center;
}
.dato2 {
    margin-top: 2% !important;
}

.card-actualizar {
    margin-left: 2% !important;
    margin-right: 2% !important;
    margin-top: -1% !important;
}
.row-actualizar{
    margin-bottom: 1% !important;
}
.drop-actualizar {
    width: 92%;
    margin-left: 8%;
}
.icon-rol {
    margin-left: -3.5% !important;
}
.icon-estado, .icon-municipio, .icon-colonia {
    margin-left: -2.5% !important;
}
.edicion-titulo{
    margin-top: 0%;
}
.modalPopupBackground {
    background-color: Gray;
    filter: alpha(opacity=50);
    opacity: 0.50;
}

.modalPopup {
    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-color: #165EA9;
    padding: 3px;
    width: 600px;
    height: 150px;
}
#Lblrespuesta {
    color: forestgreen;
    margin-left: 32%;
    font-size: 150%;
}
.LblAlert {
    color: black;
    margin-left: 32% !important;
    font-size: 150% !important;
}

.gestion-titulo{
    margin-top:3% !important;
}
.card-actualizar {
    margin-top: 2% !important;
}
.cont-grid {
    margin-left: 2%;
    margin-top: 5%;
}
.titulo-gest {
    margin-top: -4% !important;
}